.app {
    background-color: #f3f2ef;
    display: flex;
    flex-direction: column;
}

.app__body {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 2.1875em;
    display: flex;
}
